<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
  </head>

  <body>
    <main>
      <header> <nav> 
        <a href="{% url 'todo_list_list' %}"> Main Page </a>  
      </header>
      <div>
        <h1>{{ todo_list_detail.name }}</h1>
        {% comment %} From views name . name {% endcomment %}
        <p> <a href="{% url 'todo_list_update' todo_list_detail.id %}"> Edit </a> </p>
        <p> <a href="{% url 'todo_list_delete' todo_list_detail.id %}"> Delete </a> </p>
        <h2>Tasks</h2>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due Date</th>
            </tr>
          </thead>

          <tbody>
            {% for task in todo_list_detail.items.all %}
            <tr>
              <td>
               <a href="{% url 'todo_item_update' task.id %}" >{{ task.task }}</a> 
              </td>
              <td>{{ task.due_date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>

  <footer>Edgar Mendoza - Hack Reactor</footer>
</html>


