<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
  </head>

  <body>
    <main>
      <div>
        <h1> Update List </h1>
        <form method="post">
            {% csrf_token %} 
            {{ form.as_p }}
            <button> Update </button>
      </div>
    </main>
  </body>

  <footer>Edgar Mendoza - Hack Reactor</footer>
</html>
