<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
  </head>

  <body>
    <main>
      <header>
        <nav>
            <a href="{% url 'todo_list_list' %}"> Main Page </a> 
           
        </header>
      <div>
        <h1>My Lists</h1>
        <p> <a href="{% url 'todo_list_create' %}"> Create a New List </a> 
        <p> <a href="{% url 'todo_item_create' %}"> Create a New Item </a> 
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of Items</th>
            </tr>
          </thead>

          <tbody>
            {% for todo in todo_list_list %}
            <tr>
              <td><a href="{% url 'todo_list_detail' todo.id %}"> {{ todo.name }}</a> </td>
              <td>{{ todo.items.count }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>

  <footer></footer>
</html>
