<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %}</title>
</head>
<body>
    {% block content %}{% endblock content %}

    <footer> One Shot Project By Edgar Mendoza </footer>
</body>
</html>
